*
	font-family: sans-serif

#logo
	background-color: #5F1314

// 1.HEADER

.header	
	padding: 1%
	display: flex 
	justify-content: space-between

.header img
	// margin-left: 8%

.nlogo
	padding-top: 7%
	margin-left: 0.1%


.banner  
	// margin-right: 40%
	// margin-bottom: 2%

// End 1: HEADER

/*********===== 2. NAVIGATION *********=====*/
nav 
	display: block
	width: 100%


ul 
	list-style-type: none
	margin: 0 /*sets all the margin properties*/
	padding: 0 /*used to generate space around content*/
	overflow: hidden /*whether to clip content or to add scrollbars */
	background-color: black
	top: 0.5em
	width: 100%
      

li 
	float: left


li a 
	display: block
	color: white
	text-align: center
	font-size: 15pt
	padding: 14px 14px
	text-decoration: none
	// text-transform: uppercase
	// font-weight: bold
/*********===== END 2. NAVIGATION *********=====*/

.datum
	text-align: right
	margin-right: 5%


// 3. MAIN

.flexcontainer
	border: 2px solid black
	/* align-items: center; */
	// height: 1000px
	// display: flex
	// justify-content: space-around
	// flex-direction: row




.image1 
	display: flex
	flex-wrap: wrap
	justify-content: space-around
		


.fleim
	position: relative
	width: 300px
	height: 200px
	border: 2px solid yellow

.pt
	position: absolute 
	width: 300px
	background-color: black
	color: white
	margin-top: -5%
	margin-left: 1.5px


.bannerright
	margin-right: 5%

.b2
	height: 500px

.popular
	// width: 80%
	margin-right: 5.5%
	margin-left: 5.5%
	border: 2px
	background-color: grey